/* ================================= 
  WEB FONTS
==================================== */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/* ================================= 
  ELEMENT STYLES
==================================== */
:root {
  /* COLORS */
  --black: #000000;
  --darkGray: #3f3f46;
  --gray: #a1a1aa;
  --lightGray: #e4e4e7;

  /* FONTS */
  --font-body: "Segoe UI", sans-serif;
  --font-header: "Bebas Neue", sans-serif;

  /* TYPOGRAPHY */
  --fs-base: 62.5%;
  --fs-normal: 1.6rem;
  --lh-normal: 1.5;
  --ls-normal: 0.02rem;
  --header-lh: 6rem;
  --header-ls: 0.25rem;
  --h1-size: 3rem;
  --h2-size: 6rem;
  --h3-size: 2.2rem;
  --h4-size: 1.75rem;
  --h5-size: 3vw;
  --p-size: 1rem;
  --p-lh: 1.3;
  --p-ls: 0.2rem;
  --small: 0.85rem;
  --smaller: 0.75rem;
  --label-size: 1.125em;
  --thinner: 100;
  --thin: 200;
  --bold: 400;
  --bolder: 600;
  --xBold: 900;

  /* SPACING */
  --spacing: 0.5rem;
  --spacing-2: 1rem;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-body);
  background-color: white;
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: var(--font-header);
}
h1 {
  font-size: var(--h1-size);
  color: var(--black);
  display: inline;
}

h2 {
  font-size: var(--h2-size);
  line-height: var(--header-lh);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--bolder);
}

h5 {
  color: aqua;
  font-size: 2.3rem;
}

h6 {
  font-size: var(--small);
}

a,
a:hover {
  text-decoration: none;
  color: var(--darkGray);
}

p {
  font-size: var(--p-size);
}

span {
  font-size: var(--small);
  color: var(--darkGray);
}

label {
  font-size: var(--label-size);
  font-weight: var(--bolder);
  color: var(--darkGray);
}

ul {
  margin: 0;
  padding: 0;
}

.formheader {
  font-size: 2.3em;
  color: var(--darkGray);
}

.formspan {
  font-size: var(--small);
  color: var(--gray);
  font-weight: var(--thin);
}

.heading {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4em;
}

.title {
  font-size: larger;
  font-weight: bolder;
}

hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid var(--darkGray);
}

/* Box Shadow */
.shadow {
  box-shadow: var(--lightGray) 0px 2px 10px;
}

/* LIST STYLES -------- */

/*  BUTTON STYLES -------- */
.btn {
  border-radius: 1.5rem;
  padding: var(--spacing) var(--spacing-2);
}

.btn:focus,
.btn:active,
.show > .btn-secondary.dropdown-toggle {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
  color: white;
  background-color: var(--darkGray);
}

.btn-light {
  color: var(--gray);
  font-size: 14px;
  margin-left: 0.5em;
  border: 1px solid var(--lightGray);
  background-color: white;
}

.btn-dark {
  background-color: var(--black);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  color: black;
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

/* ================================= 
  FORM
==================================== */
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--lightGray);
}

input[type="file"] {
  display: none;
}

input::placeholder {
  color: var(--gray);
  font-size: var(--smaller);
}

textarea {
  min-height: 300px;
  overflow: visible;
  resize: none;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-top: 40px;
  padding-bottom: 80px;
}

/* IMAGES -------- */
img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.logo {
  width: 48px;
  height: 48px;
}
.avatar {
  width: 36px;
  height: 36px;
}

.avatarThumbnail {
  width: 28px;
  height: 28px;
}

.avatarTxt {
  font-family: var(--font-header);
  font-size: var(--h1-size);
}

/* MAIN NAV -------- */
.dropdown-header {
  display: none;
}

/* ICONS -------- */

/* NAV --------------*/

.userAvatar {
  max-width: 40px;
}

/* HERO SECTION ------*/
.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f24d2e;
  color: black;
}

.heroAnimation {
  display: none;
}

/* CARD SECTION -------*/
.opacityIndex {
  position: absolute;
  top: -7px;
  left: 7px;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.2;
  text-align: right;
}

/* ================================= 
  MEDIA QUERIES
==================================== */
@media screen and (min-width: 768px) {
  .small {
    width: 500px;
    margin: auto;
  }
  .dropdown-header {
    display: block;
  }
  .heroAnimation {
    display: inline-block;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
  }
  .stage {
    position: relative;
    min-width: 716px;
    width: 716px;
    height: 100%;
    background-color: #dbe0cf;
    cursor: pointer;
    overflow: hidden;
  }
  .content {
    position: absolute;
    top: -150px;
    left: 34px;
    width: 120%;
    height: 120%;
    transform: rotate(-20deg);
  }
  .band {
    position: relative;
    margin: 0;
    height: 102px;
    font-weight: 600;
  }

  .names {
    display: block;
    position: relative;
    width: 150%;
    height: 120px;
    overflow: hidden;
    color: red;
  }
  .name {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
  }

  .blue {
    color: #019ac5;
    position: absolute;
    top: 8px;
  }
}
